<h1 id="welcome-message">Welcome to Your Customized Training Plans!</h1>
<h1 id="explanation-message">Please sign up to get started on your training.</h1> 
<h1 id="explanation-message"> Sign in if you already have a coach.</h1>
